---
layout: default
---

<link rel="stylesheet" href="{{ root_url }}/stylesheets/dcjqaccordion.css" />
<section class="main-wrap clearfix">
  <article role="article">
    {% include article.html %}
    <footer>
      <p class="meta neighbor clearfix">
        {% if page.previous.url %}
          <a href="{{ page.previous.url }}" class="float-l" title="Previous Post: {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next.url %}
          <a href="{{ page.next.url }}" class="float-r" title="Next Post: {{ page.next.title }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </p>
    </footer>
  </article>

  <section id="disqus_thread"></section>
</section>

<script src="{{ root_url }}/javascripts/jquery.dcjqaccordion.2.7.js"></script>
<script>
(function($){
    $(document).ready(function(){
	var chapters=$("section :header:not(:first)");
	var curTagName,oldTagName=1;
	var menu=$("<ul class='accordion' id='accordion-menu'></ul>");
	var count=0;
	chapters.each(function(){

	    var item=$(this);
	    item.attr("name",count).attr("id",count);
	    curTagName=parseInt(this.tagName.replace("H",""));

	    var link="<li tag='"+curTagName+"'><a href='#"+count+"'>"+item.text()+"</a></li>";
	    var lastLink=menu.find("a[href='#"+(count-1)+"']");

	    if (curTagName == 1)
	    {
		menu.append("<li><a href='#"+count+"'>"+item.text()+"</a></li>");
	    }else if(curTagName<oldTagName)
	    {
		lastLink.closest("li[tag='"+curTagName+"']").after(link);
	    }else if(curTagName==oldTagName)
	    {
		lastLink.parent().after(link);
	    }else if (curTagName>oldTagName)
	    {
		lastLink.after("<ul>"+link+"</ul>")
	    }
	    count++;
	    oldTagName=curTagName;
	});

	$('div#accordion-container').append(menu);
	$('#accordion-menu').dcAccordion({
	    eventType: 'click',
	    autoClose: false,
	    saveState: false,
	    disableLink: true,
	    showCount: false,
	    speed: 'slow'
	});
	$('#accordion-menu a:not(.dcjq-parent)').click(function(){
	    var href = $(this).attr("href");
	    var pos = $(href).offset().top-30;
	    $("html,body").animate({scrollTop: pos}, 1000);
	});

	var name = $("#accordion-container");  
	
	var h1=250;
	var h2=190;

	$(window).scroll(function () {   
	    offset = h2+$(document).scrollTop();
	    
	    if (offset<h1)
		name.css("top",h1+"px");
	    else
		name.css("top",offset+"px");
	}); 
	
    });
})(jQuery); 
</script>
<div class="clean accordion-container" id="accordion-container">
<h1>{{ post_or_page_title }}</h1>
</div>
